/*How to align input boxes
*/

body {
	font-family: 'Montserrat', sans-serif;
}

h1 {
	text-align:center;
	font-size:54px;
}

p {
	padding-left:5%;
}

input {
	padding-top:4%;
	margin-top:4%;
}

.smallerInput {
	width:15%;
}

.container {
	width:70%;
	overflow:hidden;
	margin-left:11%;
	/*position:relative;*/
}

.mealDetails,
.customerCharges,
.earningsInfo {
	border:1px solid black;
	/*padding:2%;*/
}

form {
	
}
.mealDetails {
	height:26.1rem;
	width:48%;
	margin-left:9%;
	display:inline-block;

}

.headerUnderline {
	border-bottom:1px solid black;
}

.mealDetails button {
	padding:2% 8%;
	margin-top:25%;
	margin-left:19%;
}

#cancelButton {
	margin-left:5%;
}

.customerCharges,
.earningsInfo {
	float:right;
	width:37%;
	height:11.5rem;
}

.customerCharges,
.earningsInfo  > p  {
	padding-top:1%;
}

.earningsInfo {
	margin-top:-21%;
}

#resetButton {
	float:right;
	margin:1% 6% 0 0;
	padding:1% 2%;
}